.contact-form-container {
  display: grid;
  gap: 1rem;
  position: relative;

  .contact-form-header {
    font-size: var(--H2);
    color: var(--color-font-h1);
    padding-bottom: 1rem;
  }

  button {
    margin-top: 6.625rem;
  }
}

.contact-form-header {
  @media (width < 768px) {
    text-align: center;
  }
}

.contact-form-input {
  border-radius: var(--border-r-8);
  padding: .8125rem 1rem;
  font-size: var(--M);
  line-height: var(--line-h-16);
  border: 1px solid var(--color-border-input);
}

select {
  width: 100%;
}

.relative-box {
  position: relative;
}

.contact-form-label {
  display: block;
  font-size: var(--M);
  font-weight: var(--font-w-semi);
  line-height: var(--line-h-16);
  color: var(--color-font-h1);
}

.error-label {
  margin-top: 4px;
  border-radius: var(--border-r-4);
  font-size: var(--XS);
  padding: .2rem;
  display: none;
  position: absolute;
  right: 0;
  bottom: -1.7rem;
}

.error-label.error {
  color: var(--color-error);
  background-color: var(--color-error-12);
  content: '';
  border: none;
  display: inline-block;
}

.drop {
  background-color: var(--bg-color-secondary);
  color: var(--color-font-p);

  &:focus-visible {
    outline: none;
    background-color: var(--bg-color-main);
  }

  option {
    background-color: var(--bg-color-main);
  }
}

.error {
  border: 1px solid var(--color-error);

  button {
    background-color: var(--color-error);
    border-color: var(--color-error);
  }
}

.success {
  border: 1px solid var(--color-success);

  button {
    background-color: var(--color-success);
    border-color: var(--color-success);
  }
}