.question {
  display: grid;
  grid-template-columns: 1fr 36px;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1.5rem;
  text-align: left;
  width: 100%;
  background-color: transparent;
  border: none;

  h3 {
    font-size: var(--M);
    line-height: var(--line-h-16);
    font-weight: var(--font-w-semi);
    color: var(--color-font-h1);
    font-family: 'Manrope';
  }

  span {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-features-icon);
    border-radius: 50%;
    transition: all .5s ease;

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.bg-question {
  background-color: var(--bg-card);
  box-shadow: var(--bg-shadow-m);
  border-radius: var(--border-r-8);
}

 .question .rotate {
  rotate: 180deg;
  background-color: var(--color-primary);
}

.bg-question.active {
  border: 1px solid var(--color-border-faq);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;

  p {
    padding-inline: 1.5rem;
    text-align: left;
    padding-bottom: 1.5rem;
    font-size: var(--S);
    color: var(--color-font-p);
    line-height: var(--line-h-16);
  }
}

.open {
  max-height: 500px;
}