.newsletter {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  gap: 2rem;
  padding: 2.5rem 1rem;
  border-radius: var(--border-r-8);

  .newsletter-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      width: 78px;
      height: 78px;
    }
  }

  h4 {
    color: var(--color-font-h1);
    font-size: var(--H4);
  }

  .full-text {
    display: none;
  }

  .partial-text {
    display: block;
  }
}

@media (width > 768px) {
  .newsletter {
    flex-direction: row;
    align-items: center;
    gap: 0;

    .newsletter-header {
      gap: 2rem;
    }

    h4 {
      font-size: var(--H5);
    }
  }
}

@media (width > 1280px) {

  .newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 3.5rem;
    padding: 4.5rem 5.875rem;

    h4 {
      font-size: var(--H4);
    }

    .full-text {
      display: block;
    }

    .partial-text {
      display: none;
    }
  }
}