.btn {
  background-color: var(--bg-color-transparent);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--S);
  font-weight: var(--font-w-semi);
  font-family: 'Manrope';
}

.btn-store {
  height: 3.25em;
  padding: .5em 1em;
  background-color: var(--bg-color-btn-store);
}

.btn-round {
  width: 44px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--bg-color-btn-round);

  .btn-img-size {
    width: 22px;
    aspect-ratio: 1;
  }
}

.btn-signin {
  width: 140px;
  height: 36px;
  color: var(--color-btn-text);
  background-color: var(--bg-color-btn-signin);

  div {
    height: 16px;
    aspect-ratio: 1;
    margin-right: .5em;
  }

  @media (width < 1280px) {
    display: none;
  }
}

.hamburger {
  cursor: pointer;

  @media (width > 1280px) {
    display: none;
  }
}

.btn-more {
  padding: .75rem 1.75rem;
  background-color: var(--color-primary);
  cursor: pointer;
  font-size: var(--S);
  font-weight: var(--font-w-semi);
  line-height: var(--line-h-16);
  color: var(--color-btn-text);
  font-family: "Manrope";
  display: flex;
  gap: .5rem;
  align-items: center;
  
  img {
    width: 20px;
    aspect-ratio: 1;
  }
  &:hover {
    background-color: var(--color-btn-hover);
    transition: all .3s ease;
  }
}

.btn-contact-us {
  font-size: var(--S);
  font-weight: var(--font-w-semi);
  line-height: var(--line-h-16);
  font-family: "Manrope";
  gap: .5rem;
  justify-content: start;
}

.btn-green {
  color: var(--color-success);
}
.btn-blue {
  color: var(--color-primary);
}

.btn-contact-us-now {
  place-self: center;
  font-size: var(--S);
  font-weight: var(--font-w-semi);
  line-height: var(--line-h-16);
  font-family: "Manrope";
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 1rem 1.75rem;

  @media (width > 767px) {
    display: none;
  }
}

.btn-sub {
  background-color: var(--color-primary);
  font-size: var(--M);
  font-weight: var(--font-w-semi);
  line-height: var(--line-h-16);
  border-radius: 0 4px 4px 0;
  font-family: "Manrope";
  padding-inline: 1rem;
  color: var(--color-white);

}