.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.link {
  color: var(--color-link);
  font-weight: var(--font-w-semi);
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.link-list {

  .link-items {
    display: flex;
    gap: 1.5rem;
  }

  @media (width < 1280px) {
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;

    .link-items {
      flex-direction: column;
      gap: .5rem;
      background-color: var(--bg-color-list);
      max-height: 0;
      overflow: hidden;
      transition: max-height .5s ease;
    }

    &.open .link-items {
      border-top: 1px solid var(--color-font-p);
      max-height: 300px;
    }
    
    .link {
      font-size: var(--font-24);
      padding: 1rem;
      
    }
  }
}

.img-logo {
  width: 140px;
  height: 52px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center p {
  font-weight: var(--font-w-semi);
  display: none;

  @media (width > 768px) {
    display: block;
    color: var(--color-text);
  }
}

.container {
  display: flex;
  gap: 2rem;

  @media (width > 768px) {
    gap: 4.4rem;
  }

  @media (width > 1280px) {
    gap: 2rem;
  }
}

.gap-1 {
  gap: 1rem;
}

.gap-3 {
  gap: 3rem;
}