.section-howitworks {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 3.75rem;

  h3 {
    font-size: var(--H3);
    font-weight: var(--font-w-extrabold);
    color: var(--color-font-h1);
    padding-bottom: 2rem;
  }

  h5 {
    font-size: var(--H5);
    font-weight: var(--font-w-extrabold);
    color: var(--color-font-h1);
    padding-top: 2rem;
  }

  p {
    font-size: var(--M);
    line-height: var(--line-h-16);
    color: var(--color-font-p);
    padding-top: .5rem;
  }
}

@media (width > 768px) {
  .section-howitworks {
    h3 {
      font-size: var(--H2);
      padding-bottom: 3rem;
    }

    h5 {
      font-size: (var(--H4));
      padding-top: 2.5rem;
    }

    p {
      max-width: 450px;
      place-self: center;
    }
  }
}

@media (width > 1280px) {
  .section-howitworks {
    h3 {
      font-size: var(--H1);
    }

    p {
      max-width: 600px;
    }
  }
}